//mixin con parámetros
@mixin flex ($direction, $justify, $aling, $gap){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    gap: $gap;
}

@mixin img($width, $heigth, $object){
width: $width;
height: $heigth;
object-fit: $object;
}