body{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #212730;
}
.carousel{
  padding: 10px;
  height: 350px;
  width: 100%;
 .placeholder{
  background-color: $ligth-colo;
  color: $third-color;
 }
}
.container{
  @include flex(row, center, center, 5px);
  width: 100%;
  flex-wrap: wrap;
  @media screen { min-width: 300px; max-width: 1200px;}
    .producto{
      gap: 5px;
     .producto-content{
  a{
    text-decoration: none;
    border-radius: 5px;
    background-color: $main-color;
    color: $ligth-colo;
    
    transition: 0.5s;
    text-align: center;
    
  }
  &:hover a{
    background-color: $fourth-color;
    color: $third-color;
  }
 
  }
    }
    
}
  